<header class="masthead">
    <div class="container">
        <div class="text-center">
            <div class="greeting-wrapper">
                <div class="masthead-subheading">
                    <span class="greeting-text">Welcome To My Portfolio</span>
                    <span class="greeting-text">Bienvenue Dans Mon Portfolio</span>
                    <span class="greeting-text">欢迎来到我的作品集</span>
                    <span class="greeting-text">Bienvenido A Mi Portafolio</span>
                </div>
            </div>
            
            <div class="masthead-heading text-uppercase">
                Let's Create Something Together
            </div>
    
        </div>
    </div>
</header>