<section class="page-section" id="skills">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Skills</h2>
            <h3 class="section-subheading text-muted">Expertise developed through years of hands-on experience</h3>
        </div>
        <div class="row text-center">

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa-regular fa-window-restore fa-lg" style="color:#6A9AB0 "></i>
                </span>
                <h4 class="my-3">Full-Stack Development</h4>
                <p class="text-muted">Experienced in building web applications with Flask and Python on the backend. Intermediate knowledge in creating responsive interfaces using Bootstrap and CSS, with beginner knowledge in JavaScript for frontend development.</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa-solid fa-microchip fa-lg" style="color: #6A9AB0"></i>
                </span>
                <h4 class="my-3">Machine & Deep Learning</h4>
                <p class="text-muted">Experience in building image classification models using machine learning techniques, with practical knowledge in integrating AI APIs like Gemini. Proficient in utilizing Python libraries for ML model development and deployment.</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa-solid fa-arrows-spin fa-lg" style="color: #6A9AB0"></i>
                </span>
                <h4 class="my-3">Software Development</h4>
                <p class="text-muted">Experience in DevOps Successfully managed deployment strategies for web applications, ensuring efficient integration and continuous delivery</p>
            </div>
        </div>
    </div>
</section>
